.banner {
  position: relative;
  height: 100vh; /* Set full height of viewport */
  background-size: cover; /* Cover entire area */
  background-position: center; /* Center the image */
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Desktop Banner */
@media (min-width: 769px) {
  .banner {
    background-image: url('./uniconbanner.png');
    height: 860px;
  }
}

/* Mobile Banner */
@media (max-width: 768px) {
  .banner {
    background-image: url('./Uniconbanner1.jpg');
    height: 413px;
  }
}
