.banner {
  position: relative;
  height: 100vh; /* Set full height of viewport */
  background-size: cover; /* Cover entire area */
  background-position: center; /* Center the image */
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* Desktop Banner */
@media (min-width: 769px) {
  .banner {
    background-image: url('./uniconbanner.png');
    height: 860px;
  }
}

/* Mobile Banner */
@media (max-width: 768px) {
  .banner {
    background-image: url('./mobilebanner.png');
    height: 85vh;
  }
}

/* BettingWebsiteMobile.css */

/* Styling for button in mobile view */
@media only screen and (max-width: 768px) {
  .banner-content {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
  }

  .banner-content .btn {
    /* Increase button size for mobile view */
    font-size: 19px; /* Increase font size */
    padding: 14px 43px; /* Increase padding */
    margin-top: 79vh;
    width: 46vh;
    background-color: #C1191A; /* Change button background color */
    border-color: #C1191A; /* Change button border color */
  }

  .banner-content .btn:hover {
    background-color: #9F1516; /* Change button background color on hover */
    border-color: #9F1516; /* Change button border color on hover */
  }
}



